unary operator

In [1]:
+ 12

12

In [2]:
- 12

-12

In [3]:
not 12

False

In [4]:
~ 11

-12

Arithmetic Operator

In [7]:
a =18
b =10.0
print(a+b)
print(a-b)
print(a* b)
print(a % b)
print(a / b)

28.0
8.0
180.0
8.0
1.8

In [8]:
a=18.0
b=10
print(a / b)
print(a // b)

1.8
1.0

In [9]:
a=18
b=10
print(a / b)
print(a // b)

1.8
1

In [12]:
2 ** 5

32

In [13]:
# wap find simple intrest 
p = int(input("enter the amount "))
t = int(input("enter in months  "))
t = t/12
r = int(input("rate of intrest  "))
si = p* t* r/100
amount = p+si
print("simple intrewst : ", si)
print("amount          :",amount)

enter the amount 10000
enter in months  11
rate of intrest  2
simple intrewst :  183.33333333333331
amount          : 10183.333333333334

In [15]:
t

0.9166666666666666

In [18]:
# waap find area of the circle 
r = input("enter radius  in m ")
r =float(r)
area = 3.14 *r*r
print("area of circle is ",area," sq.m")

enter radius  in m 9
area of circle is  254.34  sq.m

In [19]:
# convrt km to m
dis =input("enter the distance in km ")
dis =int(dis)
dis_m =dis*1000
print(dis,"km = ",dis_m," m")

enter the distance in km 5
5 km =  5000  m

In [ ]:
# wap convert farhonrheat  to celius 
#find area of circle  and perimeter
# find area & perimetr of the square 
# find a rea & perimetr of the rectangle

Relational Operator

In [5]:
a =int(input("enter a "))
b = int(input("enter b "))
print(a< b)
print(a > b)
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

enter a 10
enter b 10
False
False
True
False
True
True

Logical

In [13]:
not 0+0j

True

In [15]:
not [9,8]

False

In [19]:
True and True

True

In [18]:
False and False

False

In [20]:
23 and 78

78

In [21]:
{} and 34

{}

In [22]:
78 and 45

45

In [24]:
True or False

True

In [26]:
False or False

False

In [27]:
{} or 34

34

In [28]:
78 or 56

78

Assignment Operator

In [1]:
# constant to varaiable
v = 123
v

123

In [2]:
# varaible to variable
b = v
b

123

In [3]:
c = v +b
c

246

In [6]:
v = v+c

In [7]:
v

369

In [8]:
v = v/3

In [9]:
v

123.0

In [10]:
# speed of execution of the statements are increase
v += c   # v = v+c

In [11]:
v

369.0

Special Operator

The are 2 types 

1. Membership operator

    ---> To  check the one operand is member in a seq operand 
    
    in -> True ---> when its members 
    
            False --> Other wise 
    
    not in -> False --->when its members 
    
            -True ---> Other wise

2. Identity Operator

        -To check both operands are same memory location
        
        is --> True --> same identity
        
                False --> different
        is not --> False--> same identity
                True ---> different

In [12]:
seq =[45,67,89,80]
v = 45
b =100

In [13]:
v in seq

True

In [14]:
b in seq

False

In [15]:
b not in seq

True

In [16]:
v not in seq

False

In [17]:
a = 10
b =20
c =10
print(id(a))
print(id(b))
print(id(c))

140732886413344
140732886413664
140732886413344

In [18]:
a is b

False

In [19]:
a is b

False

In [20]:
a is not b

True

In [21]:
a is not c

False

In [23]:
a is 10

True

In [28]:
a =[1,2,3]
b =[1,2,3]
c=a
a is b

False

In [29]:
id(c)

417521006984

In [25]:
id(a)

417521007688

In [27]:
id(b)

417521436808

In [30]:
a is not b

True