# unary operator

In [1]:

# unary plus
+4

4

In [3]:
# unary minus
-(-4)

4

In [5]:
not 0

True

In [7]:
~ 5

-6

# Binary Operator

In [8]:
a =10

# arithmetic operator

In [12]:
'''
Input function is used for to read the data frpm the 
keyboard , but 
we can enter any type of data , it reads str data type
'''
a =input("enter some data from keyboard")
print(a)
print(type(a))
print(id(a))

enter some data from keyboard[1,2,3,4,5]
[1,2,3,4,5]
<class 'str'>
719134683376

In [13]:
'''
Input function is used for to read the data frpm the 
keyboard , but 
we can enter any type of data , it reads str data type
'''
a =input("enter some data from keyboard")
a =int(a)
print(a)
print(type(a))
print(id(a))

enter some data from keyboard78
78
<class 'int'>
140735230179488

In [14]:
'''
Input function is used for to read the data frpm the 
keyboard , but 
we can enter any type of data , it reads str data type
'''
a =input("enter some data from keyboard")
a=float(a)
print(a)
print(type(a))
print(id(a))

enter some data from keyboard78.789
78.789
<class 'float'>
719105728328

In [17]:
a = int(input("enter some data"))
b = int(input("enter some data"))
print("a + b = ",a+b)
print("a - b = ",a-b)
print("a * b = ",a*b)
print("a % b = ",a%b)
print("a / b = ",a/b)

enter some data78
enter some data10
a + b =  88
a - b =  68
a * b =  780
a % b =  8
a / b =  7.8

In [22]:
# floor division
'''
python3 and python2 little bit difference while using 
/  and  //
'''
78.0 // 10

7.0

In [23]:
# exponanant operator
2 ** 3

8

In [1]:
print(18/10) # 1.8
print(18.0/10) # 1.8

1.8
1.8

In [2]:
print(18//10) # 1
print(18.0 // 10) # 1.0

1
1.0

In [3]:
10 ** 3

1000

In [4]:
# WAP find area and perrimeter of the square
side = input("enter side of the square in meters : ")
side = int(side)
area = side ** 2
peri = 4 * side
print("area of the square is ",area," sq.m when side is ",side," m")
print("peri of the square is ",peri," m when side is ",side," m")

enter side of the square in meters : 5
area of the square is  25  sq.m when side is  5  m
peri of the square is  20  m when side is  5  m

In [5]:
# WAP find area and perrimeter of the rectangle
l = input("enter len of the rectangle in meters : ")
b = input("enter b of the rectangle in meters : ")
l = float(l)
b = float(b)
area = l*b
peri = 2*(l+b)
print("area of the rect is ",area," sq.m when l is",l," m b = ",b,"m")
print("peri of the rect is ",peri," m when l is",l," m b = ",b,"m")

enter len of the rectangle in meters : 5
enter b of the rectangle in meters : 4
area of the rect is  20.0  sq.m when l is 5.0  m b =  4.0 m
peri of the rect is  18.0  m when l is 5.0  m b =  4.0 m

In [2]:
# simple intrest 
from math import round
p =input("enter amount given to client ")
p =float(p)
t =input("enter how many months ")
t = float(t)
t= t/12
r =input("enter rate of intrest ")
r =float(r)
si = round((p*t*r)/100)

print("si = ",si," RS/-")
print("total = ",si+p," RS/-")

ImportError: cannot import name 'round' from 'math' (unknown location)

In [3]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [5]:
help(math.trunc)

Help on built-in function trunc in module math:

trunc(x, /)
    Truncates the Real x to the nearest Integral toward 0.

    Uses the __trunc__ magic method.

In [12]:
math.floor(34.9)

34

Relational Operator

In [15]:
a= int(input("enter some data "))
b= int(input("enter some data "))
print(a < b)
print(a > b)
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

enter some data 45
enter some data 56
True
False
False
True
True
False

In [18]:
# find given number is possible for factorial or not 
a = input("enter a number ")
a = int(a)
print("a is possible for factorial ",a >=0)

enter a number 0
a is possible for factorial  True

In [20]:
# find given number number is even or not 
a = input("enter a number ")
a = int(a)
print("a iseven ",(a%2 ==0))

enter a number 44
a iseven  True

In [21]:
# sum of ages of son and dad is more 100 or not
son = int(input("enter son age in years"))
dad = int(input("enter dad age in years"))
print("sum of sun and dad is more than 100 ",(son+dad)>100)

enter son age in years45
enter dad age in years75
sum of sun and dad is more than 100  True

In [13]:
# daata dype format specifiers 

a =34.567567675

print("%d is %s and %.2f"%(234,"hello",a))

234 is hello and 34.57

Logical Operator

In [14]:
# and operator 
12 and 45

45

In [20]:
 {} and 67.89

{}

In [21]:
45 or 7.899

45

In [22]:
[] or 90.56

90.56

In [23]:
0 and []

0

In [24]:
0 or []

[]

In [25]:
not []

True

In [26]:
not -45

False

In [31]:
# i have number which is divisble both 3 and 5 or not 

num = input("enter : ")
num = int(num)
print(num % 3 == 0)
print(num % 5 == 0)
print((num% 3 == 0)and(num % 5 == 0))

enter : 9
True
False
False

Assginment  operator ( = )

In [32]:
a =10 # constant to varaible
b =a  # variable to variable
c = a+b #expression result to varibale

In [34]:
a = a+b
a

20

In [35]:
a =10 # constant to varaible
b =a  # variable to variable
c = a+b #expression result to varibale

In [39]:
a /= b  # a = a/b
# speed increase
a

10.0

In [40]:
# membership
# in
a =10
b=[10,30,56,20]
c =78

In [41]:
a in b

True

In [43]:
a not in b

False

In [44]:
c not in b

True

In [42]:
c in b

False

In [45]:
a =10
b=20
c=10
print(id(a))
print(id(b))
print(id(c))

140707832983584
140707832983904
140707832983584

In [46]:
a is c

True

In [48]:
a is not c

False

In [47]:
a is b

False

In [49]:
a is not b

True