# unary Operator

In [1]:
#unary plus
+ 10

10

In [2]:
# unary minus
-  10

-10

In [4]:
# logical not 

not 1

False

In [5]:
# bitwise not 
~ 10

-11

# Binary Operator

In [7]:
# binary arithmetic plus operator
10 +20

30

# arithmetic Operaator

In [8]:
10 +20  # plus ---> addition

30

In [9]:
20 - 10 # subtrction -- minus

10

In [10]:
20 * 10 # multiplication -- astris

200

In [11]:
21 / 2 # quotient  ---> division

10.5

In [13]:
21.0 / 2

10.5

In [14]:
21.0 // 2

10.0

In [12]:
21 // 2 # quotient  ---> floor division

10

In [15]:
# power 
10 ** 3

1000

In [16]:
2 ** 5

32

In [17]:
pow(2,5)

32

In [19]:
# wap find area of square and perimeter of the square 

side = int(input("enter side of square in meters : "))
area = side ** 2
peri = 4 * side
print("area od square is  ",area," sq . meter")
print('perimter od square  = ',peri," meter ")

enter side of square in meters : 10
area od square is   100  sq . meter
perimter od square  =  40  meter

In [ ]:
# wap find area and perimter of reactangle

In [ ]:
#wap find area and perimter of circle

In [ ]:
# find area and volume of cube

# relational Operator

In [20]:
10 < 20 # lessthan

True

In [21]:
20 < 10

False

In [22]:
20 > 10 # greater than

True

In [23]:
10 > 20

False

In [24]:
10 == 10 # equal too

True

In [25]:
10==20

False

In [26]:
10 != 20 # not equal too

True

In [27]:
10 != 10

False

In [30]:
10 <= 20 # lessthan or equal too

True

In [29]:
10 <= 10

True

In [31]:
10 >= 20# greater than or equal too

False

In [32]:
10 >= 10

True

In [33]:
20 >= 10

True

In [35]:
# wap find given number is even or not 
N = int(input("enter N :"))
print(N,"  iseven  : ",N%2 == 0)

enter N :41
41   iseven  :  False

# special operator

# 1 membership

In [37]:
seq = [12,34,56,67]
var = 23
e  = 34

In [39]:
# in 
# True ---> member
# Flase --> not a member 
print(var in seq)
print(e in seq)

False
True

In [40]:
# not in 
# True ---> not a member
# Flase --> member 
print(var not in seq)
print(e not in seq)

True
False

# 2.  indentity operator

In [41]:
a =10
b =20
c =10
print(id(a))
print(id(b))
print(id(c))

140729252311072
140729252311392
140729252311072

In [42]:
# is 
# True  ---> same identity
# False  --> different
print(a is b)
print(a is c)

False
True

In [43]:
# is not 
# True  ---> different  identity
# False  --> same
print(a is not b)
print(a is not c)

True
False

In [ ]:
# wap given character vowel or not

In [ ]:
# find both list variable memory locations are same or not with same
#list dqata element

# assignmnet

In [1]:
# constant to varibale
a = 123

In [2]:
# variable to varibale 
b = a

In [3]:
# expression to variable 
c = a+b

In [4]:
a =10
b = 20
a = a+b # a += b

30

In [5]:
# operation then assignmnet
a =10
b = 20
a+=b

# to improve the speed of the program

30

# Logical Operator

1. And   ------> and

2. Or   ------>or 

3. Not  ------> not

In [7]:
0 and 1

0

In [8]:
1 and 0

0

In [9]:
1 and 1

1

In [10]:
True and False

False

In [11]:
True and True

True

In [15]:
'' and 56

''

In [13]:
56 and []

[]

In [14]:
# 1st input value is False case then return 1st input value 
56 and 45

45

In [17]:
# 1st input value is True case then return 1st input value 
56 or 45

56

In [18]:
0+0j or 56

56

In [19]:
not 67

False

# Bitwise Operator

In [1]:
5 & 6

4

In [2]:
5 | 6

7

In [3]:
5 ^ 6

3

In [4]:
~13

-14

In [5]:
~(-13)

12

In [7]:
100 << 4

1600