Tuple Datatype:-
-------------------------

---> It was Sequential Datatype (Multiple data elements)

---> we have to store with in paranthasis ( )

In [1]:
# empty tuple variable var 
var = ()
print(var)
print(type(var))
print(id(var))

()
<class 'tuple'>
581664637000

In [2]:
# var tuple variable
var = (1,2,3,4,5)
print(var)
print(type(var))
print(id(var))

(1, 2, 3, 4, 5)
<class 'tuple'>
581749094360

---> Tuple is a hetro genious datatype

In [3]:
var = (12,34.56,4+6j,True,None)
print(var)
print(type(var))
print(id(var))

(12, 34.56, (4+6j), True, None)
<class 'tuple'>
581749892640

In [4]:
# Nested Tuple
var = ([1,2,4],(1,2,4),{1,2,3})
print(var)
print(type(var))
print(id(var))

([1, 2, 4], (1, 2, 4), {1, 2, 3})
<class 'tuple'>
581750118008

# accessing the data elements from tuple

1. indexing []

2. slicing  [:]

3. Dicing   [: :]

In [5]:
# positive indexing  -> 0 to len-1
# forward direction
var =(1,2,4,7,3)
print(var[0])
print(var[1])
print(var[2])
print(var[3])
print(var[4])

1
2
4
7
3

In [6]:
# negative   -> -1  to -len
# backward direction 
var =(1,2,4,7,3)
print(var[-1])
print(var[-2])
print(var[-3])
print(var[-4])
print(var[-5])

3
7
4
2
1

In [7]:
# tuple slicing
'''
we can access the sub tuple from main tuple
'''
var

(1, 2, 4, 7, 3)

In [8]:
var[1:4]

(2, 4, 7)

In [9]:
var[:4] # start ---> 0

(1, 2, 4, 7)

In [10]:
var[2:]# stop ---> len

(4, 7, 3)

In [13]:
#tuple dicing 
'''
from the tuple varible we have to access preioidical
tuple elements
'''
var=(1,2,3,4,5,6,7,8,9)

In [23]:
var[2:6:] # step 1

(3, 4, 5, 6)

In [26]:
#tuple is a immutable datatype
var[2]=300

TypeError: 'tuple' object does not support item assignment

In [28]:
var[-6:-1]

(4, 5, 6, 7, 8)

In [30]:
var[-1:-6:-1]

(9, 8, 7, 6, 5)

In [31]:
var.index(9)

8

In [32]:
var.count(3)

1

In [34]:
b=(90,78,56)
var+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 90, 78, 56)

In [35]:
b * 4

(90, 78, 56, 90, 78, 56, 90, 78, 56, 90, 78, 56)

In [36]:
len(b)

3

In [38]:
min(var)

1

In [39]:
max(var)

9

In [40]:
sum(var)

45

In [41]:
var.append(34)

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
var =list(var)

In [43]:
var.append(34)
var

[1, 2, 3, 4, 5, 6, 7, 8, 9, 34]

In [46]:
var.reverse()
var

[34, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
type(var)

list

In [48]:
var =tuple(var)
var

(34, 9, 8, 7, 6, 5, 4, 3, 2, 1)