In [9]:
# unary plus
+12

12

In [10]:
#unary minus
-12

-12

In [12]:
not 0

True

In [13]:
~12

-13

Binary operator

In [14]:
10 + 20

30

In [15]:
50-45

5

In [1]:
a =input("enter some data")

enter some data78

In [3]:
type(a)

str

In [4]:
a =int(a)
type(a)

int

In [6]:
a=float(a)
a

78.0

In [9]:
a =input("enter some data in a")
b =input("enter some data in b")
a =float(a)
b =float(b)
print("a + b = ",a+b)  # 88
print("a - b = ",a-b)  # 68
print("a * b = ",a*b)  #780
print("a % b = ",a%b)  # 8
print("a / b = ",a/b)  #7.8

enter some data in a78.0
enter some data in b10.0
a + b =  88.0
a - b =  68.0
a * b =  780.0
a % b =  8.0
a / b =  7.8

In [10]:
print(18 /10)
print(18.0 /10)

1.8
1.8

In [11]:
print(18 //10)
print(18.0 //10)

1
1.0

In [12]:
23 ** 10

41426511213649

In [13]:
5 ** 3

125

In [14]:
pow(5,3)

125

In [16]:
# square parameters
side =input("enter a side of square in meters")
side =int(side)
area = side**2
peri = 4 *side
print("area of square is ",area," sq. m when side is ",side," m")
print("peri of square is ",peri," meter when side is ",side," m")

enter a side of square in meters8
area of square is  64  sq. m when side is  8  m
peri of square is  32  meter when side is  8  m

In [20]:
# retangle parameters
l =input("enter a len of rectangle in meters")
b =input("enter a b of rectangle in meters")
l=int(l)
b=int(b)
area = l*b
peri = 2*(l+b)
print("area of rect is ",area," sq. m len ",l ,"m b is ",b,'m')
print("peri of rect is ",peri," meter when len ",l,"m b is ",b,"m")

enter a len of rectangle in meters5
enter a b of rectangle in meters4
area of rect is  20  sq. m len  5 m b is  4 m
peri of rect is  18  meter when len  5 m b is  4 m

In [23]:
# simple intrest 
p =float(input("enter amount\n"))
t =float(input("enter no of months\n"))
r =float(input("enter rate for 100\n"))
si = (p*t*r)/100
amount =p+si
print("intrest you get ",si,"RS/- ")
print("total amount is ",amount," RS/-")

enter amount
12000
enter no of months
10
enter rate for 100
2
intrest you get  2400.0 RS/-
total amount is  14400.0  RS/-

Relational  Operator

In [4]:
a = input("enter a")
b = input("enter b")
a =str(a)
b =str(b)
print("a < b = ", a < b)
print("a > b = ", a > b)
print("a == b = ", a == b)
print("a != b = ", a != b)
print("a <= b = ", a <= b)
print("a >= b = ", a >= b)

enter apython
enter banaconda
a < b =  False
a > b =  True
a == b =  False
a != b =  True
a <= b =  False
a >= b =  True

In [5]:
True and True

True

In [6]:
False and True

False

In [11]:
{23,78} and []

[]

In [13]:
False  or False

False

In [21]:
0 or 89

89

In [23]:
not []

True

In [24]:
a =10
b =20

In [25]:
a =a+b
a

30

In [26]:
a =10
b =20

In [27]:
a += b
a

30

In [33]:
b=[56,78,90,56,6]
c =78

In [32]:
a in b

False

In [35]:
a not in b

True

In [36]:
c not in b

False

In [34]:
c in b

True

In [37]:
a = 10
b =10
c =20

In [38]:
print(id(a))
print(id(b))
print(id(c))

140733856411680
140733856411680
140733856412000

In [39]:
a is b

True

In [41]:
a is not b

False

In [40]:
c is b

False

In [42]:
c is not b

True

In [43]:
5 & 6

4

In [44]:
5 | 6

7

In [45]:
5 ^ 6

3

In [46]:
~ 5

-6

In [48]:
~ 10

-11

In [49]:
128 << 2

512

In [50]:
10 << 4

160

In [52]:
215 >> 3

26