In [1]:
import sqlite3  as sq

1. connect is a sqlite3 class
2. to create a new database/ 
3. connect the new database
4. it was return database connwction object

In [2]:

con = sq.connect('college.db')

In [3]:
cur = con.cursor()

In [21]:

for i in range(5):
    a=input("enter table")
    cur.execute('CREATE TABLE '+a+'(id,name,per)')

enter tableeee1
enter tablecse1
enter tableece1
enter tablemech
enter tableciv

In [15]:
cur.execute("INSERT INTO  cse VALUES(2,'sai1',99)")

In [16]:
con.commit()

In [17]:
cur.execute('select * from cse')

In [18]:
data = cur.fetchall()

In [19]:
for rec in data:
    print(rec)

(1, 'sai', 90)
(2, 'sai1', 99)

In [14]:
cur.execute('CREATE TABLE ece(id,name,per)')