In [1]:
# empty tuple 
var =()
print(var)
print(id(var))
print(type( var))

()
743563722824
<class 'tuple'>

In [2]:
# empty tuple 
var =tuple()
print(var)
print(id(var))
print(type( var))

()
743563722824
<class 'tuple'>

In [3]:
# tuple with some data
var =(12,34,56,23)
print(var)
print(id(var))
print(type( var))

(12, 34, 56, 23)
743650271128
<class 'tuple'>

In [6]:
#  tuple 
var =tuple({1,2,3,4})
print(var)
print(id(var))
print(type( var))

(1, 2, 3, 4)
743650485016
<class 'tuple'>

In [7]:
# homo tuple
var =(12,34,234,456)
print(var)
print(id(var))
print(type( var))

(12, 34, 234, 456)
743650484616
<class 'tuple'>

In [8]:
# hetro tuple 
var =(12,34.45,True)
print(var)
print(id(var))
print(type( var))

(12, 34.45, True)
743650431552
<class 'tuple'>

In [9]:
# nested tuple 
var =('soc',[1,2,3],(1,2,3))
print(var)
print(id(var))
print(type( var))

('soc', [1, 2, 3], (1, 2, 3))
743650433280
<class 'tuple'>

Access the data from tuple

In [10]:
v=(23,45,12,67,90,34)

In [14]:
len(v)

6

In [15]:
# positive indexing / forword indexing / 0 to len -1
v[5]

34

In [18]:
v

(23, 45, 12, 67, 90, 34)

In [20]:
# negative indexing / -1 to -len /backward rirection
v[-3]

67

In [21]:
# slicing
v

(23, 45, 12, 67, 90, 34)

In [24]:
v[1:]

(45, 12, 67, 90, 34)

In [28]:
# dicing 
v[0:6:3]

(23, 67)

modify existing data

In [32]:
# its immutable datatype
v[2]= 120

TypeError: 'tuple' object does not support item assignment

In [35]:
a=[]
a.append(23)
a.append(45)
a

[23, 45]

In [36]:
a=()
a.append(23)

a

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
a=(12,34,56,12,45,56)

In [38]:
a.count(56)

2

In [39]:
a.index(45)

4

In [40]:
a=list(a)
a.append(120)
a=tuple(a)
a

(12, 34, 56, 12, 45, 56, 120)