set Datatype :-
-------------------

----> Multiple daata elements are stores in between curly braces {}

In [3]:
# empty set data type

a =set()

In [4]:
type(a)

set

In [6]:
# set daata type implimentation
s ={23,67.45,True,123,34}
print(s)
print(type(s))
print(id(s))

{True, 34, 67.45, 23, 123}
<class 'set'>
974524727368

In [7]:
# set is unorder daatatype
s[0]

TypeError: 'set' object does not support indexing

In [8]:
# set removes duplicate elements 
s ={12,34,11,12,0,12}

In [10]:
s

{0, 11, 12, 34}

In [9]:
len(s)

4

set datatypes are 3 types 
1. homo genious set datatype
2. hetro genious set datatype
3. nested set datatype

In [12]:
# homo genious set daatatype
s={1.1,2.2,3.4,4.1,5.0}
s

{1.1, 2.2, 3.4, 4.1, 5.0}

In [13]:
# hetro genious daata type
s ={1, 3.4 ,4+5j ,True , None}
s

{(4+5j), 1, 3.4, None}

In [22]:
# nested set data type
s ={'soc',(1,2,3)}
s

{(1, 2, 3), 'soc'}

In [23]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
print(s1 | s2 ) #  s1.__or__(s2)   # union    {1,2,3,4,5,6}
print(s1 & s2) # s1.__and__(s2)               {3,4}
print(s1 ^ s2 ) #  (s1 | s2) - (s1& s2)         {1,2,5,6}
print(s1 -s2)  # {1,2}
print(s2-s1)  # {5,6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 5, 6}
{1, 2}
{5, 6}

In [38]:
a

{0, 12, 34, 45, 123}

In [37]:
a.add(34)

In [39]:
a

{0, 12, 34, 45, 123}

In [40]:
a.clear()

In [41]:
a

set()

In [42]:
a =s1.copy()

In [43]:
print(id(a))
print(id(s1))
print(a)
print(s1)
a.add(1000)
print(a)
print(s1)

974524731176
974524728488
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 1000}
{1, 2, 3, 4}

In [45]:
a =s1
print(id(a))
print(id(s1))
print(a)
print(s1)
a.add(1000)
print(a)
print(s1)

974524728488
974524728488
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 1000}
{1, 2, 3, 4, 1000}

In [51]:
s1.pop()

3

In [52]:
s1

{4, 1000}

In [55]:
s1.discard(10000)

In [54]:
s1

{4}

In [57]:
s1.remove(4)

In [59]:
s1 ={1,2,3,4}
s1

{1, 2, 3, 4}

In [60]:
s2

{3, 4, 5, 6}

In [62]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [63]:
s1.intersection(s2)

{3, 4}

In [64]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [65]:
s1.difference(s2)

{1, 2}

In [66]:
s1

{1, 2, 3, 4}

In [67]:
s2

{3, 4, 5, 6}

In [68]:
s1.update(s2)

In [69]:
s1

{1, 2, 3, 4, 5, 6}

In [72]:
s1={1,2,3,4}

In [73]:
s1.intersection(s2)

{3, 4}

In [74]:
s1.intersection_update(s2)

In [75]:
s1

{3, 4}