In [1]:
# while 
'''
while(condition):
    statememnt
    ---------
    ---------
else:
    st1
    ---
    ---
'''
# wap print 1 to n(user entered number)
n = input("enter n ")
n = int(n)
i =1 
while(i <= n):
    print(i)
    i =i +1
else:
    print(" i am else block")
    print("i  can execute when condition is false")

enter n 5
1
2
3
4
5
 i am else block
i  can execute when condition is false

In [2]:
# while 
'''
while(condition):
    statememnt
    ---------
    ---------
else:
    st1
    ---
    ---
'''
# wap print 1 to n(user entered number)
n = input("enter n ")
n = int(n)
i =1 
while(i <= n):
    print(i)
    i =i +1

enter n 5
1
2
3
4
5

In [3]:
# wap print multiplication table for any number 
'''
5 
5 * 1 = 5
5 * 2 = 10

5 *10 =50
'''
n = input("enter a number")
n = int(n)
i = 1
while(i <= 10):
    print(n," * ",i," = ",n*i)
    i = i+1

enter a number5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [4]:
# wap print your name 10 time 
name =input("enter your name : ")
n = input("enter how many times ")
n =int(n)
i =1
while(i <= n):
    print("name = ",name)
    i =i+1

enter your name : anjan
enter how many times 6
name =  anjan
name =  anjan
name =  anjan
name =  anjan
name =  anjan
name =  anjan

In [5]:
# wap find the no of factor of a number 
n = input("enter a number ")
n =int(n)
i =1
f_c =0
while(i <= n):
    if( n % i == 0):
        print(i," is factor for ",n)
        f_c = f_c +1
    i =i+1
print("no of factors for ",n," is ",f_c)

enter a number 100
1  is factor for  100
2  is factor for  100
4  is factor for  100
5  is factor for  100
10  is factor for  100
20  is factor for  100
25  is factor for  100
50  is factor for  100
100  is factor for  100
no of factors for  100  is  9

In [7]:
# wap given number is prime number or not 
'''
total  no of factor are 2 
'''
n = input("enter a number ")
n =int(n)
i =1
f_c =0
while(i <= n):
    if( n % i == 0):
        f_c = f_c +1
    i =i+1
if(f_c == 2):
    print("its prime number")
else:
    print("its not prime")

enter a number 9
its not prime

In [ ]:
# wap print sum of the digits in a number 
# 123 ---> 6
# wap reverse of a number 
# 123 ---> 321
# wap given number is palidrom or not
# 121 --> 121
# wap sum of cubes of a digits of number
# 123 --> 1^3 + 2^3 +3^3
# wap given number is armstrong or not
# 123 --> 1^3 + 2^3 +3^3--> 123

In [10]:
# reverse of a number
n = input("enter a number")
n = int(n)
t =n
num=0
while(t != 0):
    rem = t % 10
    num = num *10  +rem
    t = t // 10
print(n," is reversed ",num)

enter a number159
159  is reversed  951

For loop

In [1]:
# wap print data elements in any seq data type variable
seq ="hello"
for v in seq:
    print(v)
else:
    print("when no more updatation")

h
e
l
l
o
when no more updatation

In [2]:
# wap print data elements in any seq data type variable
seq =[1,2,4,6,7]
for v in seq:
    print(v)
else:
    print("when no more updatation")

1
2
4
6
7
when no more updatation

In [5]:
# wap  find len of the seq  data variable with out using lenth fun

s = "hello i am anjan kumar"
#print(len(s))
l =0
for i in s:
    l = l+1
else:
    print("len of the seq is ",l)

22
len of the seq is  22

In [7]:
# wap find sum  of the data elements in a sequential variaable
a = [1,2,3,4,5]
#print(sum(a))
s = 0
for i in a:
    s = s+i
else:
    print("sum of the seq : ",s)

15
sum of the seq :  15

In [8]:
# create a new list which having only even number 
l =[1,7,3,9,2,0,3,8,4,90,45]
l_e =[]
for i in l:
    if(i % 2 == 0):
        l_e.append(i)
else:
    print("even list is : ",l_e)

even list is :  [2, 0, 8, 4, 90]

In [11]:
# wap find sum of n natural number 
n =input("enter int ")
n =int(n)
s =0
for e in range(1,n+1):
    s =s+e
else:
    print("sum of 1st ",n," natural numbers ",s)

enter int 15
sum of 1st  15  natural numbers  120

In [14]:
# wap find the no of factor of a number 
# 5--->2
# 6-->4
#10-->4
n = input("enter an int")
n =int(n)
f_c =0
for v in  range(1,n+1):
    if(n % v == 0):
        print("factor = ", v)
        f_c += 1
else:
    print("total factors = ",f_c)

enter an int10
factor =  1
factor =  2
factor =  5
factor =  10
total factors =  4

In [16]:
# wap given number is prime

n = input("enter an int")
n =int(n)
f_c =0
for v in  range(1,n+1):
    if(n % v == 0):
        #print("factor = ", v)
        f_c += 1
if(f_c == 2):
    print("is prime")
else:
    print("its not a prime")

enter an int5
is prime

In [17]:
a =[1,2,3,4]
b=[1,2,3,4]
a is b

False

In [18]:
a == b

True

In [17]:
'''
*  *  *  *  *
*  *  *  *  * 
*  *  *  *  *
*  *  *  *  *
'''
row = int(input("enter no of rows : "))
col = int(input("enter no of col : "))
for j in range(row):
    for i in range(col):
        print('* ',end =' ')
    print('')

enter no of rows : 2
enter no of col : 5
*  *  *  *  *
*  *  *  *  *

In [18]:
'''
1  1  1  1  1
1  1  1  1  1
1  1  1  1  1
1  1  1  1  1
'''
row = int(input("enter no of rows : "))
col = int(input("enter no of col : "))
for j in range(row):
    for i in range(col):
        print('1 ',end =' ')
    print('')

enter no of rows : 4
enter no of col : 5
1  1  1  1  1
1  1  1  1  1
1  1  1  1  1
1  1  1  1  1

In [19]:
'''
1  1  1  1  1
2  2  2  2  2
3  3  3  3  3
4  4  4  4  4
5  5  5  5  5
'''
row = int(input("enter no of rows : "))
col = int(input("enter no of col : "))
for r in range(1,row+1):
    for c in range(1,col+1):
        print(r,"  ",end =' ')
    print('')

enter no of rows : 5
enter no of col : 4
1    1    1    1
2    2    2    2
3    3    3    3
4    4    4    4
5    5    5    5

In [21]:
'''
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
'''
row = int(input("enter no of rows : "))
col = int(input("enter no of col : "))
for r in range(1,row+1):
    for c in range(1,col+1):
        print(c,"  ",end =' ')
    print('')

enter no of rows : 5
enter no of col : 4
1    2    3    4
1    2    3    4
1    2    3    4
1    2    3    4
1    2    3    4

In [ ]:
Task :
----------
2    3    4    5    6

3    4    5    6    7

4    5    6    7    8

5    6    7    8    9

6    7    8    9    10

In [24]:
'''
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
'''
row = int(input("enter no of rows : "))
#col = int(input("enter no of col : "))
for r in range(1,row+1):
    for c in range(1,r+1):
        print('*  ',end =' ')
    print('')

enter no of rows : 5
*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

In [ ]:
# task
'''
1 
1  2
1  2  3
1  2  3  4
1  2  3  4
'''

In [ ]:
#task3
'''
1
2  2
3  3  3
4  4  4  4
5  5  5  5  5


'''

In [ ]:
'''
2 
3  4
4  5  6
5  6  7  8

'''