set datatype:-
-------------------

--> A group of elements are stored in between { }

In [1]:
a =set()
a

set()

In [3]:
a={1,"soc",23+45j}
type(a)

set

sets are two types 

1. homo
2. hetro

In [5]:
a ={2.3 ,4.5 ,6.4}
type(a)

set

In [7]:
a={1,2.34,"soc",34+5j}
type(a)

set

In [12]:
a ={[1,2,3],12}

TypeError: unhashable type: 'list'

In [16]:
a ={(1,2,3),12}
a

{(1, 2, 3), 12}

In [17]:
# duplicate elements
a ={1,2,3,4,1,2,1,4}
a

{1, 2, 3, 4}

In [18]:
# unorder datatype
a={34,13,0,3,4}

In [21]:
a

{0, 3, 4, 13, 34}

In [19]:
a

{0, 3, 4, 13, 34}

In [1]:
a ={1,2,3,4}
b ={3,4,5,6}
print(a | b) # union operation

{1, 2, 3, 4, 5, 6}

In [4]:
print(a-b) # removing the common set elements from a
print(b-a) # removing the common set elements from a

{1, 2}
{5, 6}

In [2]:
print(a & b)# intersection operation

{3, 4}

In [5]:
print(a ^ b )# symmeric difference  (a | b ) - (a & b)

{1, 2, 5, 6}

In [6]:
print(a)
print(b)
print(a | b)
print(a & b)
print(a ^ b)
print((a| b) -(a&b))

{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [7]:
a.__or__(b)  # a |b  union

{1, 2, 3, 4, 5, 6}

In [8]:
a.__and__(b) # a & b  ---> intersection

{3, 4}

In [9]:
a.__xor__(b) # a ^ b ----> symmetric difference

{1, 2, 5, 6}

In [10]:
a.__sub__(b) # a -b ---> difference

{1, 2}

In [14]:
print(a == b)  # a.__eq__(b)
print(a != b)  # a.__ne__(b)
print(a > b)  # a.__gt__(b)
print(a < b)   # a.__lt__(b)
print(a >= b) # a.__ge__(b)
print(a <= b) # a.__le__(b)

False
True
False
False
False
False

In [15]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [16]:
print(a)
print(b)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [17]:
c=set()

In [26]:
c.add(45)

In [27]:
c

{45}

In [28]:
c.clear()

In [29]:
c

set()

In [30]:
c =a.copy()

In [31]:
print(a)
print(c)
print(id(a),'\n',id(b))
c.add(1234)
print(a)
print(c)

{1, 2, 3, 4}
{1, 2, 3, 4}
705634358888
 705643491400
{1, 2, 3, 4}
{1, 2, 3, 4, 1234}

In [34]:
c =a

In [36]:
print(a)
print(c)
print(id(a),'\n',id(b))
c.add(1234545)
print(a)
print(c)

{1, 2, 3, 4, 1234}
{1, 2, 3, 4, 1234}
705634358888
 705643491400
{1, 2, 3, 4, 1234545, 1234}
{1, 2, 3, 4, 1234545, 1234}

In [37]:
a

{1, 2, 3, 4, 1234, 1234545}

In [38]:
b

{3, 4, 5, 6}

In [39]:
a.difference(b)  # a-b , a.__sub__(b)

{1, 2, 1234, 1234545}

In [40]:
a

{1, 2, 3, 4, 1234, 1234545}

In [41]:
a.difference_update(b)

In [42]:
a

{1, 2, 1234, 1234545}

In [45]:
a.discard(12345)

In [50]:
a={1,2,3,4}
a

{1, 2, 3, 4}

In [51]:
b

{3, 4, 5, 6}

In [52]:
a.intersection(b) # a &b

{3, 4}

In [54]:
a.intersection_update(b)  # a = a & b

In [55]:
a

{3, 4}

In [56]:
b

{3, 4, 5, 6}

In [57]:
a.isdisjoint(b)

False

In [60]:
a

{3, 4}

In [61]:
b

{3, 4, 5, 6}

In [62]:
a.issubset(b)

True

In [63]:
b.issuperset(a)

True

In [58]:
c={100,300}

In [59]:
c.isdisjoint(b)

True

In [75]:
c={12,445,787,678}
c

{12, 445, 678, 787}

In [74]:
c.pop()

787

In [77]:
c.remove(445)

In [78]:
c

{12, 678, 787}

In [79]:
c.remove(78888)

KeyError: 78888

In [80]:
a={1,2,3,4}

In [81]:
b

{3, 4, 5, 6}

In [82]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [83]:
a.symmetric_difference_update(b)

In [84]:
a

{1, 2, 5, 6}

In [85]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [86]:
a

{1, 2, 5, 6}

In [87]:
a.update(b)

In [88]:
a

{1, 2, 3, 4, 5, 6}